/* * { color: pink; background-color: gray; } */

h1 {
    background: red;
    width: 100px;
    height: 200px;

    /* transition-property: width, background-color; */


    transition-property: height, width, background-color;
    transition-duration: 0.2s;


}

h1:hover {

    background-color: blue;

    height: 400px;

    width: 400px;
}
